In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heights3.csv")
df.head(5)

    name  height
0  mohan     1.2
1  maria     2.3
2  sakib     4.9
3    tao     5.1
4  virat     5.2

In [4]:
df.height.describe()

count    20.000000
mean      8.390000
std       8.782812
min       1.200000
25%       5.350000
50%       5.700000
75%       6.275000
max      40.200000
Name: height, dtype: float64

In [5]:
q1 = df.height.quantile(0.25)
q3 = df.height.quantile(0.75)
q1, q3

(5.3500000000000005, 6.275)

In [6]:
iqr = q3 - q1
iqr

0.9249999999999998

In [7]:
low = q1 - 1.5*iqr
high = q3 + 1.5*iqr
low, high

(3.962500000000001, 7.6625)

In [8]:
df[df.height > high]

     name  height
17  aamir    14.5
18    ken    23.2
19    Liu    40.2

In [9]:
df[df.height < low]

    name  height
0  mohan     1.2
1  maria     2.3

In [10]:
df1 = df[(df.height > low) & (df.height < high)]
df1.head(10)

       name  height
2     sakib     4.9
3       tao     5.1
4     virat     5.2
5    khusbu     5.4
6    dmitry     5.5
7    selena     5.5
8      john     5.6
9     imran     5.6
10     jose     5.8
11  deepika     5.9